body {
    font-family: sans-serif;
    background: #fafafa;
}

p {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin-left: 20px;
}

#pageSubmenu {
    font-family: sans-serif;
    background: #FF3900;
    margin-left: 5px;

}
#state {
    font-family: sans-serif;
    font-size: 1.1em;
    color: #999;
    padding: 10px;
}

sub {
    font-size: .6em;
    font-family: sans-serif;
    color: #fafafa;
    margin-left:20px;
}

h1 {
    font-family: 'Kirang Haerang', cursive;
    font-size: 2.6em;
    font-weight: 300;
    line-height: 1.9em;
    color: #fafafa;
    
    margin-top: -35px;
}

h2 {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin-left: 20px;
}

h4 {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.9em;
    color: #fafafa;
}
.input-text {
    color: black;
}

.city {
    margin-bottom: 5px;
}

.state-input {
    margin-top: 20px;
    margin-left: 30px;
    color: black;
}

.form-check {
    width: 200px;
    position: relative;
    margin: 5px auto;
    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #fcfff4;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      &:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #333;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.5;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }    
  }

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}



/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #FF3900;
    color: #fafafa;
    transition: all 0.3s;
}



#sidebar .sidebar-header {
    padding: 20px;
    background: #FF3900;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #FF3900;
    
}

#sidebar ul p {
    color:black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* Why is this only affected the first li a but not the second?
#sidebar ul li a:hover {
    color: #fafafa;
    background: #FF8764;
} */


/* category dropdown box */
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fafafa;
    background: #FF3900;
}

/* location drop down box */
a[data-toggle="collapse"] {
    position: relative;
    
}

/* for the dropdown box icons */
a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    
}

/* icons when the drop down boxes are expanded */
a[aria-expanded="true"]::before {
    content: '\e260';
    
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;

}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

img {
    
    margin-left: 45px;
}

.get-adv-btn {
    width: 40%;
    margin-left: 21%;
    margin-right:39%;
    
    border-radius: 4px;
    
}

.btn-custom {
   background-color: #00ceff; 
}



/* -------------------------------------------------
KID_FRIENDLY SLIDER
---------------------------------------------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  /*.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  } 
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
*/

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 300px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    
}

#content.active {
    width: 100%;
}

#map {
    position: absolute;
    height: 80vh;
    width: 77vw;
    margin-right: -10px;
    padding-left: -10px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #FF3900;
    
    text-align: center;
 }



/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .body {
        background-color: #fafafa;
    }
    #content {
        width: 100%;
    }
   
    #sidebarCollapse span {
        display: none;
    }
    #sidebar {
        position: fixed;
        width: 100%;
        max-width: 100vw;
        max-height: 25vh;
        top: 0;
    }

    #sidebar li {
        background: #FF3900;
    }

    .sidebar-header {
        display: none;
    }

   

    .get-adv-btn {
        position: fixed;
        bottom: 10%;
        width: 40%;
        margin-left: 30%;
        margin-right:30%;
    }


    

    #getAdventure {
        display: hidden;
    }

    .form-check {
        background: #FF3900;
        opacity: 60%;
    }

    #map {
        position: absolute;
        height: 84vh;
        width: 100vw;
        margin-top: 1px;
        padding: 0px;
        
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: #FF3900;
        border-top: 10px;
        border-color: #FF3900;
        text-align: center;
     }
}

@media (min-width: 769px) {
   
    #getAdventure{
        /* //this is the bottom button */
        /* display: none; */
        /* visibility: hidden;  */
    }

    #get-adv-btn-2{
        /* //this is the top button */
    }

    #buttons {
        display: none;
        visibility: hidden;
    }
    .results {
        margin-left: 310px;
    }
    
    
}
/* <--!we want the top button go away on mobile -->
<!--we want the bottom button to stay on mobile--> */